/*This CSS is to style the div name box*/
#name {
    width: 215px;
    height:130px;
    background-color:cadetblue;
    position: absolute;    
    top: 0px;
    left: 200px;


}

/* This CSS is to style the text inside of the div box*/
h1.box {
    border: 3px;
    border-style: solid;
    border-color: cadetblue;
    padding: 3px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* This CSS is to style the div that will contain the 3 links: About, Portfolio, Contact*/
#navpage {
    width: 235px; 
    height: 100px;
    position: absolute;
    top: 100px;
    right: 300px;
}
/* This CSS is to style the links in the div ^ */
.pages {
    display:inline;
    margin-left: 10px;
    color:rgb(84, 111, 121);
    font-size:20px;
}


#vertline2 {
    border-left: 3px solid grey; 
    height: 50px; 
    position:absolute; 
    right:372px; 
    top: 87px;
}

#vertline3 {
    border-left: 3px solid grey; 
    height: 50px; 
    position:absolute; 
    right:463px;
    top: 87px;
}
/* This will style the top border box */
#topsection {
    border: 5px solid rgb(60, 83, 83);
    padding: 20px;
    height: 90px;


}

/* This will style the bottom border box */
#botsection {
    background-color: rgb(83, 109, 109);
    border: 5px solid rgb(60, 83, 83);
    padding: 10px;
    height:425px;

}

/* This will style the inner bottom box */
#info {
    border: 1px solid rgb(53, 17, 17);
    padding: 10px;
    height: 400px;
    width: 780px;
    position:absolute;
    right: 280px;
}

img {
    width: 186.5px;
    height: 140px;
    float: left;
    padding: 10px;
}

p {
    font-size: 20px;
}